#Black
{
    color: darkgray;
}
#BackgroundImageofNavbar
{
    position:relative;
    margin:auto;
    height: 45vw;
    width: 100vw;
    background-image:url(Images/bgofvanbar.png);
    background-size:100%;
}
#Transperent
{
    background: transparent;
}
#Green{
    color: greenyellow;
}
#GridImage
{
    height: 15vw;
    width: 15vw;
    background:url(Images/PythonImg.png);
    background-size:100%,100%;
    
}
#center
{   
    color: black;
}
#BackgroundImage
{
    position:relative;
    margin:auto;
    height: 50vw;
    width: 50vw;
    background-image:url(Images/bgofnav.png);
    background-size:100%;
}
.AlineText
{
    text-align: center;
}
.background
{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("Images/pybackground.png");
    background-size: 100%,100%;
}
.blackcolour
{
    background-color: rgb(184, 177, 177);
}
.greencolour
{
    color: greenyellow;
}
.bgGreen
{
    background-color: greenyellow;
}
.bggrey
{
    background-color: rgb(233, 233, 233);
}
.bg0fsubans
{
    background-color: rgb(247, 247, 247);
}
.ImageUserSize
{
    position:relative;
    height: 6vw;
    width: 7vw;
    background-size:100%;
}
.ImageSize
{
    position:relative;
    height: 30vw;
    width: 80vw;
    background-size:100%;
}
.pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }
 .over{

    width: auto;
    overflow: auto;
}